function formatCount(count) {
  var counter = parseInt(count)
  if (counter > 100000000) {
    return (counter / 100000000).toFixed(1) + "亿"
  } else if (counter > 10000) {
    return (counter / 10000).toFixed(1) + "万"
  } else {
    return counter + ''
  }
}

// 5
function padLeftZero(time) {
  time = time + ''
  // 005 -> 05
  return ("00" + time).slice(time.length)
}

function formatDuration(duration) {
  // 转换成秒
  duration = duration / 1000

  // 666s / 60 = 11.10
  var m = Math.floor(duration / 60)
  // 660s % 60 = 1
  var s = Math.floor(duration % 60)

  return padLeftZero(m) + ":" + padLeftZero(s)
}

module.exports = {
  formatCount: formatCount,
  formatDuration: formatDuration
}